*{
    box-sizing: border-box;
    padding: 0%;
}
body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 0px;
}
header{
    background-color: teal;
    color: #ffff;
    display: flex;
    /* padding: 50px; */
    padding-left: 80px;
    padding-right: 80px;
    /* display: inline-block; */
    
}
header h1{
    font-size: 25px;
}
.nav{
    margin-left: 700px;
    /* display: flex; */
justify-content: space-between;  
    padding-top: 30px;
    font-size: 18px;
    
    

}
.inno{
    column-gap: 20px;
}
/* .header a{
    display: inline;
    margin-right: 30px;
    padding: 40px;
    justify-content: space-between;
} */
.nav a{
    color: #ffff;
    text-decoration: none;
    padding: 10px;
    /* margin-bottom: 50px; */
}
.debz h2{
    color: teal;
}
.debz img{
    height: 200px;
    width: 200px;
    border-radius: 50%;

}
.debz{
    justify-content: center;
    text-align: center;
    margin-top: 30px;
}
.debee_nav{
    background-color: teal;
    display: flex;
    color: #ffff;
    justify-content: space-between;
padding: 80px;
}
.debee{
    width: 37%;
}
.food{
    padding: 80px;
}
.foody{
    display: flex;
    justify-content: space-between;

}
.food #tag{
    color: teal;
}
.food_item{
    width: 30%;
}
.food_item:nth-child(1){
    background-color: rgb(3, 22, 22);
    border-radius: 10px;
    color: #ffff;
    text-align: center;
    padding: 5px;
    
    
}
.food_item:nth-child(2){
    background-color: rgb(3, 22, 22);
    border-radius: 10px;
    color: #ffff;
    text-align: center;
    padding: 5px;
    justify-content: space-between;
}
.food_item:nth-child(3){
    background-color: rgb(3, 22, 22);
    border-radius: 10px;
    color: #ffff;
    text-align: center;
    padding: 5px;
}
.icon{
    background-color: teal;
    justify-content: center;
    text-align: center;
    color: #ffff;
    padding: 60px;

}